.nav-tabs {
	border-color: #000000;
	background-color: #000000;
}

.btn_color {
	background-color: rgb(255, 154, 48);
	color: #ffffff;
}

.btn_color:hover {
	background-color: rgb(236, 135, 46);	
	color: #ffffff;
	opacity: 1.0;
}

#navBarSearchForm input[type=text]{
	width: 430px !important;
}

#nav-links > li > a {
	color: rgb(180, 180, 180) !important;
}

#nav-links > li > a:hover {
	background-color: rgb(236, 135, 46);
}